@charset "UTF-8";
/**
 * 変数を記述するファイル
 */


/**
 * 基準となるボックスサイズ
 */
$BASE_WIDTH: 1280px;


/**
 * 基準となるボックスの左右の余白
 * ウィンドウサイズを小さくしたとき用の余白です。
 * 片側一方分です。
 *
 * イメージ:
 * ┌─────────────────────┐┌─────────────────────────────────────────────────────┐┌─────────────────────┐
 * │ {$GUTTER_HALF_WIDTH}                      {$BASE_WIDTH}                      {$GUTTER_HALF_WIDTH} │
 * └─────────────────────┘└─────────────────────────────────────────────────────┘└─────────────────────┘
 */
$GUTTER_HALF_WIDTH: 25px;
$GUTTER_HALF_WIDTH_SP: 15px;


/**
 * メディアクエリ
 * max-width：◯◯pxまでのとき適用
 */
 $breakpoint-down: (
  'sm': '(max-width: 480px)',
  'md': '(max-width: 770px)',
  'lg': '(max-width: 992px)',
  'xl': '(max-width: 1200px)',
) !default;

